{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="step-nav">
  <h3>Workshop Steps</h3>
  <ul>
  {% for path in page_paths %}
    {% assign my_page = site.pages | where: "path", path | first %}
    {% if my_page.title and my_page.layout == "step" %}
      <li class='{% if page.number == my_page.number %}active{% endif %}'>
        <a href="{{ my_page.url | relative_url }}">
          {% if my_page.number != "start" %}{{my_page.number}} - {% endif %}{{ my_page.title | escape }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  <h3>Useful Links</h3>
  <ul>
  <li><a target="_blank" href="https://github.com/node-girls/what-is-node">What is Node?</a></li>
  <li><a target="_blank" href="https://github.com/node-girls/cheatsheets/blob/master/node-cheatsheet.md">Node cheatsheet</a></li>
  <li><a target="_blank" href="https://github.com/node-girls/cheatsheets/blob/master/command-line-cheatsheet.md">Command line cheatsheet</a></li>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">MDN Javascript Reference</a></li>
</ul>


</div>
