div.step-nav {
  // border: 1px solid #e7e7e7;
  // background-color: #efefef;
  border-right: 3px solid $nodegreen;
  // float: right;
  max-width: 250px;
  font-size: 16px;
  display: inline-block;
  margin-right: 0px;
  padding-top: 30px;
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0px 5px 10px;
  }

ul.main {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding-left: 0px;
    li {
      padding-left: 9px;
    }
}

  ul {
    list-style: none;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    li {
      margin-bottom: 0px;
      padding: 6px 15px 5px 15px;
      a.main {
        font-size: 20px;
      }
    }
    li.active {
      background-color: $nodegreen;
      a {
        color: white;
      }
    }
  }
}
