---
# Only the main Sass file needs front matter (the dashes are enough)
---

$nodegreen: #4CAF50;

@import "minima";
@import "step-nav";
@import "reference-table";

div.nav {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  float: right;
}

div.post-content {
  font-size: 14px;
  display: inline-block;
  width: 700px;
  vertical-align: top;
}


div.home {
  display: block;
  width: $content-width;

}

div.page-nav {
  padding: 30px 0px 50px 0px;

}

a.go-link {
  background: $nodegreen;
  padding: 9px 14px 8px 14px;
  border-radius: 6px;
  border: 2px solid $nodegreen;
  color: white !important;
  text-decoration: none;
  &:hover {
    border: 2px solid darken($nodegreen, 10%) !important;
  }
}

code {
  font-size: inherit;
}

pre {
  code {
    font-size: 14px;
  }
}
