---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "step-nav";

div.nav {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  float: right;
}

div.post-content {
  display: inline-block;
  width: 700px;
  vertical-align: top;
}


div.home {
  display: block;
  width: $content-width;

}

a.start-link {
  background: green;
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px darken(green, 40%);
  color: white !important;
  text-decoration: none;
}
